<div class="container">
  <h2>新規登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.label :nickname %><br />
      <%= f.text_field :nickname, autofocus: true, placeholder: "nickname"%>
    </div>

    <div class="field">
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name,placeholder: "例 山田" %>
    </div>

    <div class="field">
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, placeholder: "例 太郎" %>
    </div>

    <div class="field">
      <%= f.label :profile %><br />
      <%= f.text_field :profile, class: "user_profile_form", placeholder: "任意（マイページで入力可能）" %>
    </div>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "email" %>
    </div>

    <% if @sns_id.present? %>
      <%= hidden_field_tag :sns_auth, true %>
    <% else %>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "６文字以上の半角英数" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>