<div class="container">

  <div class="card">
    <div class="article_card">
      <% @post.images.each do |image| %>
        <%= link_to image_tag(image,class: 'post-img' ), post_path(@post.id) %>
      <% end %>
      <div class="date">
        <div class="image-month"><%= @post.created_at.month %></div>
        <div class="image-year"><%= @post.created_at.year %></div>
      </div>
    </div>

    <div class="sub__container">
      <div class="user_card">
        <% if @post.user.avatar.attached? %>
        <%= link_to image_tag(@post.user.avatar,class: 'ava-icon post_ava_icon'), user_path(@post.user.id) %>
          
        <% else %>
          <div class="temporary">
            <%= link_to image_tag("user_icon.png", class: 'post_ava_icon user_icon_show'),user_path(@post.user_id) %>
            <p>アイコン未登録</p>
          </div> 
        <% end %>
        <%= link_to "by #{@post.user.nickname}", user_path(@post.user_id), class: :card__user %>
      </div>  
      
      <div class="count_card">
          <%= render partial: 'layouts/count', locals: { post: @post } %>
      </div>
    </div>

    <div class="post_card">
      <%= "タイトル：#{@post.title}" %>
      <div class="article_text">
        <%= @post.article_text %>
      </div>
    </div>  
  </div>

  <%if user_signed_in? && current_user.id == @post.user_id %>
    <div class="btn-wrap">
      <%= link_to "編集", edit_post_path(@post.id), class: :link_btn %>
      <%= link_to "削除", post_path(@post.id),method: :delete, class: :link_btn %>
    </div>
  <% end %>
  
  <div class="comments_container">
    <% if user_signed_in? %>
      <%= form_with(model: [@post, @comment], local: true) do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <%= f.text_area :comment, placeholder: "コメントする", rows: "2" %>
        <%= f.submit "SEND" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, user_path(comment.user_id) %>：</strong>
          <%= comment.comment %>
        </p>
      <% end %>
    </div>
  </div>
</div>