<div class="container">

  <div class="card">
    <div class="article_card">
      <% @post.images.each do |image| %>
        <%= link_to image_tag(image,class: 'post-img' ), post_path(@post.id) %>
      <% end %>
      <div class="date">
        <div class="image-month"><%= @post.created_at.month %></div>
        <div class="image-year"><%= @post.created_at.year %></div>
      </div>
    </div>

    <div class="user_card">
      <% if @post.user.avatar == nil %>
        <div class="temporary">
          <%= link_to image_tag("user_icon.png", class: 'post_ava_icon user_icon_show '),edit_user_path(@user.id) %>
          <p>アイコン未登録</p>
        </div>   
      <% else %>
        <%= image_tag  @post.user.avatar,class: 'ava-icon post_ava_icon' %>
      <% end %>
      <%= link_to "by #{@post.user.nickname}", user_path(@post.user_id), class: :card__user %>
      
      <%= render partial: 'layouts/likes_count', locals: { post: @post } %>
      
    </div>

    <div class="post_card">
      <%= "タイトル：#{@post.title}" %>
      <div class="article_text">
        <%= @post.article_text %>
      </div>
    </div>  
  </div>

  <%if user_signed_in? && current_user.id == @post.user_id %>
    <div class="btn-wrap">
      <%= link_to "編集", edit_post_path(@post.id), class: :link_btn %>
      <%= link_to "削除", post_path(@post.id),method: :delete, class: :link_btn %>
    </div>
  <% end %>
</div>