<div class="container">
  <div class="show_card">
    <div class="article_card">
      <div class="center">
        <div id="wide-img"></div>
        <ul id="list_img">
          <% @post.images.each do |image| %>
              <li id="child-img">
                <%= image_tag image, id: "post-#{image.id}", class: "post-image show__post_image" %>
              </li>
          <% end %> 
        </ul>
      </div>
    </div>

    <div class="sub__container">
      <div class="user_card">
        <% if @post.user.avatar.attached? %>
          <%= link_to image_tag(@post.user.avatar,class: 'ava-icon post_ava_icon'), user_path(@post.user.id) %>
        <% else %>
          <%= link_to image_tag("user_icon.png", class: 'post_ava_icon temporary_img ava-icon'),user_path(@post.user_id) %>
        <% end %>
        <%= link_to "by #{@post.user.nickname}", user_path(@post.user_id), class: :card__user %>
      </div>  
      
      <div class="count_card">
          <%= render partial: 'layouts/count', locals: { post: @post } %>
      </div>
    </div>

    <div class="post_card">
      <span class="box-title">
        <%= @post.title %>・<%= @post.created_at.year %>/<%= @post.created_at.month %>/<%= @post.created_at.day %>
      </span>
      <p><%= @post.article_text %></p>
    </div>  
  </div>

  <%if user_signed_in? && current_user.id == @post.user_id %>
    <div class="btn-wrap">
      <%= link_to "編集", edit_post_path(@post.id), class: :link_btn %>
      <%= link_to "削除", post_path(@post.id),method: :delete, class: :link_btn %>
    </div>
  <% end %>
  
  <div class="comments_container">
    <div class="heading_frame frame1">
      <div class="heading"><span>コメント</span></div>
    </div>
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |c| %>
        <div class="flex c_block">
          <div class="user_card fav_user_card">
            <% if c.user.avatar.attached? %>
              <%= link_to image_tag(c.user.avatar, class: 'ava-icon c_ava_icon ava_icon_absole'), user_path(c.user.id) %>
            <% else %> 
              <%= link_to image_tag("user_icon.png", class: 'ava-icon c_ava_icon temporary_img'), user_path(c.user.id) %>
            <% end%>  
          </div>
          <div class="c_box">
            <strong><%= link_to c.user.nickname, user_path(c.user_id) %> : </strong>
            <p><%= c.comment %></p>
          </div>  
        </div>
        <%if user_signed_in? && current_user.id == c.user_id %>
          <%= link_to 'コメント削除', post_comment_path(@post.id,c.id),method: :delete, class: 'link_btn c_delete_btn' %>
        <% end %>
      <% end %>
    </div>
    <div class="comment_f">
      <% if user_signed_in? %>
        <%= form_with(model: [@post, @comment], local: true) do |f| %>
          <%= render 'shared/error_messages', model: f.object %>
          <div class="comment_input">
            <%= f.text_area :comment, placeholder: "30文字以内でコメントできます", rows: "2", class: 'comment_text_area' %>
          </div>
          <div class="comment_input send_btn">
            <%= f.submit "コメントする" %>
          </div>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
    </div>
  </div>
</div>