<div class="container">

  <div class="card">
    <div class="article_card">
      <% @post.images.each do |image| %>
        <%= link_to image_tag(image,class: 'post-img' ), post_path(@post.id) %>
      <% end %>
      <div class="date">
        <div>12</div>
        <div>2020</div>
      </div>
    </div>

    <div class="user_card">
      <%= image_tag "user_icon.png", class: :icon %>
      <%= link_to "by #{@post.user.nickname}", root_path, class: :card__user %>
    </div>
    <%= @post.title %>
    <%= @post.article_text %>
  </div>

  <%if user_signed_in? && current_user.id == @post.user.id %>
    <div class="btn-wrap">
      <%= link_to "編集", edit_post_path(@post.id), class: :link_btn %>
      <%= link_to "削除", root_path, class: :link_btn %>
    </div>
  <% end %>
</div>