<div class="container">

    <div class="card">
      <div class="article_card">
        <%=  image_tag( @post.image ) %>
        <div class="date">
          <div>12</div>
          <div>2020</div>
        </div>
      </div>
      <div class="user_card">
        <%= link_to image_tag("user_icon.png", class: :icon), root_path %>
        <%= link_to "by #{@post.user.nickname}", root_path, class: :card__user %>
      </div>
      <%= @post.title %>
      <%= @post.article_text %>
    </div>

    <%if user_signed_in? && current_user.id == @post.user.id %>
      <%= link_to "編集する", edit_post_path(@post.id), class: :card__user %>
      <%= link_to "削除する", root_path, class: :card__user %>
    <% end %>

</div>