<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CampApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <header class="header">
        <div class="inner">
          <div class="global_nav">
            <ul class="list">
              <li><%= link_to image_tag("logo.png", class: :logo), root_path %></li>
              <li><%= link_to image_tag("search_icon.png", class: 'search_icon gr_icon'), posts_path %></li>
              <li><%= link_to image_tag("post_icon.png", class: 'post_icon gr_icon' ), new_post_path %></li>
              <% if user_signed_in?%>
                <% if current_user.avatar.attached? %>
                  <li><%= link_to image_tag(current_user.avatar,class: 'ava-icon gr_icon'), user_path(current_user.id) %></li>
                <% else %>
                  <li><%= link_to image_tag("user_icon.png", class: 'gr_icon temporary_img'), user_path(current_user.id) %></li>
                <% end %>
                
              <% else %>
                <li><%= link_to 'Log in', new_user_session_path %></li>
                <li><%= link_to '新規登録', new_user_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </header>
      <main>
        <div class="main_inner">
          <%= render partial: "shared/flashes" %>
          <%= yield %>
        </div>
      </main>
      <footer>
       <div class="footer_wrap">
        <p class="copyright">mycamp</p>
        </div> 
      </footer>
    </div>  
  </body>
</html>
